.form-login-wrapper {
  max-width: 1280px;
  margin: 80px auto 0;
  padding: 48px 24px 0;
  display: flex;
  flex-wrap: wrap;

  .form-login {
    width: 100%;
  }
  .image-wrapper {
    padding-top: 48px ;
    display: none;
    opacity: 1;
    animation: imageShowOn 0.5s linear 0s alternate forwards;
    .image {
      
      width: 100%;
      max-height: 70vh;
      min-height: 70vh;
      object-fit: contain;
    }

    &.active {
      display: block;
    }
  }
}

@keyframes imageShowOn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 744px) {
  .form-login-wrapper {
    padding: 48px 36px 0;
  }

  .form-login {
    flex-basis: 41.667%;
  }

  .image-wrapper {
    flex-basis: 58.333%;
    padding-left: 48px;
  }
}



