.wrapper {
  width: 100%;
}

// intro
.intro-app-wrapper {
  .intro-app {
    .intro-app-name {
      display: flex;
      align-items: center;

      .logo {
        width: 40px;
        height: 40px;
        object-fit: fill;
        border-radius: 100%;
      }
      .app-name {
        margin-left: 10px;
        text-align: start;
        font-weight: 600;
        min-width: 200px;
        color: var(--primary-color);
      }
    }

    .intro-app-title {
      margin-top: 10px;
      font-weight: 700;
      font-size: 38px;
      line-height: 56px;
      text-align: start;
      color: var(--primary-color);
    }
    .intro-app-des {
      display: block;
      text-align: start;
      color: var(--primary-color);
      font-weight: 500;
      font-size: 18px;
    }

    .signup {
      margin-top: 16px;
      min-width: 300px;
      height: 72px;
      border-radius: 24px;
      font-weight: 600;
      line-height: 24px;
      p {
        font-size: 18px;
      }
    }
  }

  .intro-app-feature {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
  }
  .intro-app-feature-item {
    display: flex;
    background-color: rgba(239, 239, 245, 0.9);
    align-items: center;

    width: fit-content;
    padding: 12px 16px;
    border-radius: 100px;
    margin: 8px 8px 0 0;
    font-weight: 500;

    .title {
      max-width: 290px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .icon {
      width: 16px;
      height: 16px;
      margin-right: 6px;
    }
  }
  .intro-app-feature-item-last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #000000;
    width: fit-content;
    margin-top: 16px;
    height: 48px;
    padding: 12px 24px;
    .title {
      margin-right: 24px;
      max-width: 156px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .icon-list {
      display: flex;
      align-items: center;

      .icon-item + .icon-item {
        margin-left: 10px;
      }
    }
  }
}

.intro-img-wrapper {
  position: relative;
  width: 100%;
  z-index: -1;

  .intro-img {
    position: relative;
    padding-top: 60px;

    .image {
      position: relative;
      opacity: 1;
      height: 100%;
      width: 100%;
      object-fit: contain;
      z-index: -1;
    }

    .background-img {
      position: absolute;
      width: 35px;
      aspect-ratio: 1 /1;
      object-fit: fill;
      

      &.star:nth-child(2) {
        left: 35%;
        top: 50%;
        animation:  fade 3.5s linear 0.2s infinite forwards;

      }

      &.star:nth-child(3) {
        left: 50%;
        top: 10%;
        animation:  fade2 3.5s linear 0s infinite forwards;


      }

      &.star:nth-child(4) {
        display: none;


      }

      &.book1:nth-child(5) {
        left: 40px;
        top: 25%;
        animation:  upDown 2s ease-in-out 2s infinite alternate;

      }

      &.book1:nth-child(6) {
        

        left: 60%;
        top: 25%;
        animation:  upDown 2s ease-in-out 2s infinite alternate;
      }

      &.book1:nth-child(7) {
        right: 0;
        animation:  upDown 2s ease-in-out 2s infinite alternate;

      }

      &.book2:nth-child(8) {
        left: 30%;
        top: 10%;
        animation:  upDown 2s ease-in-out 2s infinite alternate;

      }

      &.book2:nth-child(9) {
        right: 40px;
        top: 45%;
        animation:  upDown 2s ease-in-out 2s infinite alternate;

      }

      &.book2:nth-child(10) {
        left: -10px;
        top: 55%;
        animation:  upDown 2s ease-in-out 2s infinite alternate;

      }

      &.book1:nth-child(11) {
        left: -15px;
        animation:  upDown 2s ease-in-out 2s infinite alternate;

      }

    }

    

    
  }
}

// feature
.next-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .next-icon {
    z-index: -1;
    width: 80px;
    height: 80px;
    animation: upDown 0.6s ease-in-out 0s infinite alternate;
  }
}

.feature-wrapper {
  .title {
    width: 100%;

    height: 232px;
    padding: 0 24px;

    .small-des {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 12px;
      letter-spacing: 0.1px;
    }
    .big-des {
      text-align: center;
      font-weight: 600;
      font-size: 24px;
      line-height: 44px;
      letter-spacing: 0.1px;
    }
  }

  .feature-list-wrapper {
    width: 100%;
    background-color: #f5f5f9;
    margin-top: -114px;

    .feature-list {
      max-width: 1200px;
      margin: 0 auto;
      padding: 1px 24px;
    }
  }
  .footer-feature {
    background-color: #f5f5f9;
    height: 40px;
    width: 100%;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(0,0);
  }
  50% {
    opacity: 1;
    transform: translate(-10px, -20px);
    rotate: -45deg;
    
  }


  100% {
    opacity: 0;
    transform: translate(-40px, -60px);
    rotate: 0;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
    transform: translate(0,0);
  }
  50% {
    opacity: 1;
    transform: translate(-20px, -10px);
    rotate: 45deg;
    
  }


  100% {
    opacity: 0;
    transform: translate(-60px, -40px);
    rotate: 0;
  }
}

@keyframes fade3 {
  0% {
    opacity: 0;
    transform: translate(0,0);
  }
  50% {
    opacity: 0;
    transform: translate(50px, -10px);
   
  }

  70% {
    opacity: 1;
    transform: translate(100px, -30px);
    
    rotate: -20deg;
    
    
  }


  100% {
    opacity: 0;
    transform: translate(180px, -60px);
    rotate: 0;
  }
}

// Question form

.form-question-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  padding-top: 80px;
  .title {
    font-size: 32px;
    line-height: 44px;
    font-weight: 600;
    letter-spacing: 0.1px;
    margin-bottom: 24px;
  }

  .form-question-list {
    width: 100%;
  }
}
.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 9px;
    border-radius: 100%;
    background-color: var(--primary-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0 4px;
  }
}

.health-wrapper {
  margin-top: 80px;
  color: #fff;
  padding:  24px;
  padding-bottom: 36px;
  background: linear-gradient(
    180deg,
    var(--primary-color) -34.22%,
    #348550 130.7%
  );
  .wrapper {
    position: relative;

    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    .background {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    

    .text-wrapper {
      padding: 24px;

      .img-wrapper {
        width: 64px;
        height: 80px;
      }

      .title {
        text-align: start;
        font-size: 32px;
        line-height: 44px;
        font-weight: 600;
        letter-spacing: 0.1px;
        margin-bottom: 12px;
      }

      .des {
        text-align: justify;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.1px;
        font-weight: 400;
      }
    }

    .img-slide-wrapper {
      width: 100%;
      height: 100%;
      .img-slide-wrapper-relative {
        overflow: hidden;
      }
      .slide-1 {
        margin-bottom: 24px;
      }
      .slide-2 {
        display: none;
        
      }
    }
  }
}

.communicate-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding:0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;

  .text-wrapper {
    width: 66%;
    margin-bottom: 55px;
    .text-img {
      width: 56px;
      aspect-ratio: 1 / 1;
      object-fit: contain;

    }

    .title {
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      letter-spacing: 0.1px;
      text-align: center;
      margin-top: 14px;
      margin-bottom: 24px;
    }

    .des {
      text-align: center;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.1px;
    }
  }

  .swiper-wrapper {
    width: 100%;
    padding: 0 16px;
  }

  

}

.list-comment {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  margin-top: 80px;

  .title {
    font-size: 32px;
    line-height: 44px;
    font-weight: 600;
    margin-bottom: 28px;
  }
}

.partner {
}

// contact

.background-wrapper {
  display: none;
  width: 100%;
  .background {
    width: 100%;
  }
}

.contact-detail {
  padding: 80px 24px 0 24px;

  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  .logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    .logo {
      height: 75px;
    }
  }
  .company-name {
    letter-spacing: 1.15px;
    font-weight: 700;
    margin-top: 12px;
    text-transform: uppercase;
    text-align: left;
  }
  .copy-right {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #4c4f5b;
    margin-top: 5px;
  }
}

.contact-list {
  padding-top: 24px;

  & + .contact-list {
    margin-top: -12px;
  }
  .contact-item {
    margin-bottom: 12px;

    .title {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.15px;
      margin-bottom: 4px;
      text-align: left;
    }

    &.link-wrapper {
      display: flex;
      flex-direction: column;
      .link {
        margin-bottom: 6px;
      }
    }

    &.social {
      display: flex;
      flex-direction: column;
      align-items: start;

      .link {
        display: inline-block;
        width: 30x;
        height: 30px;
        margin-right: 6px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .des {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
      font-weight: 400;
      text-align: left;
    }
  }
}

.unit-declare-wrapper {
  padding-top: 80px;
  .title {
    font-size: 24px;
    width: 100%;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    margin-top: 32px;
    .item {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      + .item {
        margin-left: 28px;
      }
      .logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .partner-background-wrapper {
    display: none;
    .partner-background {
      width: 100%;
    }
  }
}

.unit-school {
  background-color: #f5f5f9;
  margin-top: 80px;
  padding: 24px 24px;
  .unit-school-swipper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .title {
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 744px) {
  .intro-app-wrapper {
    flex-basis: 50%;
    max-width: 50%;
    .intro-app {
      .intro-app-title {
      }

      .intro-app-des {
      }
    }

    .intro-app-feature-wrapper {
      .intro-app-feature-item:last-child {
        width: fit-content;
      }
    }
  }

  .intro-img-wrapper {
    flex-basis: 50%;
    max-width: 50%;

    .intro-img {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 25px;
      padding-top: 0;
    }
  }

  .feature-wrapper {
    .title {
      height: 200px;
      padding: 0;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("https://shub.edu.vn/images/landing/ver3/feature-section/top-decor.svg");
      .small-des {
        font-size: 20px;
        line-height: 32px;
      }
      .big-des {
        font-size: 32px;
        line-height: 44px;
      }
    }

    .feature-list-wrapper {
      margin-top: -90px;
      margin-bottom: -58px;
      .feature-list {
        padding: 0 36px;
      }
    }

    .footer-feature {
      height: 165px;
      background-color: transparent;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("https://shub.edu.vn/images/landing/ver3/feature-section/bottom-decor.svg");
    }
  }

  .form-question-wrapper {
    padding: 0 36px;
    .title {
    }

    .form-question-list {
    }
  }

  .health-wrapper {
    padding: 24px 36px;
   
  }

  .list-comment {
    padding: 0 36px;
  }

  .background-wrapper {
    display: flex;
    position: absolute;
    top: -31px;
    .background {
    }
  }

  .contact-detail {
    padding: 24px 36px 0 36px;
    display: flex;
    flex-wrap: wrap;

    .logo-wrapper {
      flex-basis: 100%;
      .logo {
      }
    }
    .company-name {
    }
    .copy-right {
    }
  }

  .contact-list {
    flex-basis: 50%;
    & + .contact-list {
      padding-left: 24px;
    }
    .contact-item {
      .title {
      }

      &.link-wrapper {
        padding-top: 12px;

        .link {
        }
      }

      &.social {
        .link {
          img {
          }
        }
      }

      .des {
      }
    }
  }

  .unit-declare-wrapper {
    .title {
    }

    .list {
      .item {
        .logo {
        }
      }
    }

    .partner-background-wrapper {
      display: block;
      .partner-background {
      }
    }
  }

  .unit-school {
    margin-top: -8px;
    padding: 12px 36px 100px 36px;

    .title {
    }
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
  }

  .intro-app-wrapper {
    .intro-app {
      .intro-app-title {
      }
      .intro-app-des {
      }
    }

    .intro-app-feature-wrapper {
    }
  }

  .intro-img-wrapper {
  }

  .form-question-wrapper {
    .title {
    }

    .form-question-list {
    }
  }

  .health-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    .wrapper {
      flex-direction: row;
      height: 600px;
      
      .text-wrapper {
        flex-basis: 50%;
        max-width: 50%;
        .img-wrapper,.title,.des {
         max-width: 85%;
        }

       
      }

      .img-slide-wrapper {
        flex-basis: 41.667%;
        max-width: 41.667%;
        display: flex;
        justify-content: center;
     

        .img-slide-wrapper-relative {
          width: 100%;
          display: flex;
          padding: 0 20px;
          margin: 0 20px;
        }
        .slide-2 {
          display: block;
          margin-left: 24px;

        }
      }
    }
  }

  .background-wrapper {
    .background {
    }
  }

  .contact-detail {
    justify-content: space-between;
    .logo-wrapper {
      flex-basis: 41.6667%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .logo {
      }
    }
    .company-name {
    }
    .copy-right {
    }
  }

  .contact-list {
    flex-basis: 33.3333%;
    padding-left: 24px;

    & + .contact-list {
      padding-left: 0;
      flex-basis: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contact-item {
      .title {
      }

      &.link-wrapper {
        .link {
        }
      }

      &.social {
        .link {
          img {
          }
        }
      }

      .des {
      }
    }
  }
}


