
.form {

    
    .info {

        .title {
            font-size: 16px;
            font-weight: 500;
            text-align: start;
            margin: 10px 0 16px 0;
        
        }
        
        .field-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &.account-info {
            margin-top: 32px;
        }
    }
    .error-email {
        color: red;
        font-size: 14px;
        margin: 10px 0;
        text-align: center;
        
    }
    .sigup-btn {
        width: 100%;
        margin-top: 24px;
    }

    .error-email ~ .sigup-btn {
        margin-top: 0px;
    }

    .login-back-wrapper {
        margin: 20px 0;
        font-size: 14px;
        .login-back {
            font-size: 14px;
            color: var(--primary-color);
        }
    }
    
}







