@import "normalize.css";

:root {
  --primary-color: #6cb52d;
  --primary-color-hover: #6edb0e;
  --black-text: #333;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/SVN-Poppins-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts//SVN-Poppins-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts//SVN-Poppins-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts//SVN-Poppins-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;

  *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.08);
  }

  *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

body {
  &.hidden {
    overflow: hidden;
    display: block;
    padding-right: 8px;
  }
}

button,
input,
[tabindex] {
  outline: none;
  border: #d8dcf0 solid 2px;
  background-color: transparent;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

a[href] {
  text-decoration: none;
  color: var(--black-text);
}

input[type="date"]:focus::-webkit-datetime-edit {
  color: black;
}

#intro {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 160px 24px 24px 24px;
  max-width: 1200px;
  margin: 0 auto;
}

#feature {
  padding-top: 80px;
}

#partner {
}

#contact {
  position: relative;
}

img {
  opacity: 1;
  animation: imageOn 1s linear 0s  alternate forwards;
}

@keyframes imageOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@media screen and (min-width: 744px) {
  #intro {
    padding-left: 36px;
    padding-right: 36px;
  }

  #contact {
    
    padding-bottom: 52px;
  }
}

@media screen and (min-width: 1024px) {
}
